@model LoginModel
<div class="row">
	<div class="col-md-4">
		<h4 class="alert alert-info">Write the email of the account that you want to recover the password</h4>
		<form method="post" asp-controller="Accounts" asp-action="RecoverPassword">  
			<div class="form-group">
				<label asp-for="Email"></label>
				<input asp-for="Email" class="form-control" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<button type="submit">Recover Password</button>
		</form>
	</div>
</div>